.navContainer {
    width: 90%;
    margin: 0 auto;

}

nav {
    min-height: 50px;
    max-height: 50px; 
    overflow: hidden;
    display: block;
}

/* add logo to navBar */
.logoBase {
    width: 110px;
    background-image: url('../../assets/img/birdBanner.png');
    background-size: cover;
    min-height: 50px;
    position: relative;
    left: -14px;
}

/* overlays the eye to the logo */

.logoEye {
    width: 110px;
    background-image: url('../../assets/img/birdEye.png');
    background-size: cover;
    min-height: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    margin-left: -14px;
}


/* restyle materializecss's input field */
.input-field {
  position: relative;
  top:-6px;
}

.input-field > label {
  margin-top:-12px;

}

.input-field > i {
  margin-top: 3px;
  color:white;
}

/* label color */
.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 2px solid white;
  box-shadow: 0 0 0 0 white;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: white;
}


/* user icon */

.col:nth-child(3) {
  width:37px;
  float: right;
}


/*----------------------------MEDIA QUERIES----------------------------------*/

/* used for navBar & navBar container scaling */



@media only screen and (max-width : 1089px) {
    .masoneryContainer {
      width: 100%;
    }

}

@media only screen and (max-width : 500px) {
  .navContainer {
    width: 90%;
  }
}
