.navContainer {
    width: 90%;
    margin: 0 auto;
}

nav {
    min-height: 65px;
    max-height: 65px; 
}

/* add logo to navBar */
.logoBase {
    width: 130px;
    background-image: url('../../assets/img/birdBanner.png');
    background-size: cover;
    min-height: 65px;
    margin-right:50px;
}



.logoEye {
    width: 130px;
    background-image: url('../../assets/img/birdEye.png');
    background-size: cover;
    min-height: 65px;
    position: absolute;
    z-index: 1;
    top: 0;
}

input {
    color: white;
}


  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }


/* navBar container scaling */
@media only screen and (max-width : 1089px) {
    .masoneryContainer {
      width: 100%;
    }
}

