 :host{                 /*global component style*/
    background-color:#B2DFDB;
    display: block;     /*needed to let divs get up to 100vh*/
    overflow: auto;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.centerContainer
{
    height: 100%;       /* valing only works with elem h 100%*/
}

.wrapper {              /*any child of wrapper will pe aligned h and w center */
    height:100vh;  
        /*makes the magic happen and makes the div full height */
}

.check {
    border: 2px solid black;
}

.btn {
    height: 100%;
}

/* used to keep the piky logo proportionted on all devices*/
@media only screen and (min-width : 980px) {
    /* if width > 980 */
    .logo {
        max-width: 550px;
    }
    /* :host{
        background-color:white;
    } */
}

@media only screen and (max-width : 979px) {
    /* if width < 979 */
    .logo {
        max-width: 60%;
    }
    /* :host {
        background-color:teal;
    } */
}

h3{
    text-shadow: 2px 2px 2px  gray;
}