
  <nav>
      <div class="masoneryContainer">
          <div class="nav-wrapper">
              <a href="" class="brand-logo">Piky</a>
        </div>
      </div>
  </nav>

<div class="masoneryContainer">
        <ng-masonry-grid
          [masonryOptions]="{ transitionDuration: '0.8s', gutter: 10 }"
          [useAnimation]="true"
          [useImagesLoaded]="true"
          [scrollAnimationOptions]="{ animationEffect: 'effect-2', minDuration : 0.4, maxDuration : 0.7 }"
          (onNgMasonryInit)="onNgMasonryInit($event)">

            <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let item of masonryItems; let i = index;" >

                    <div class="col s12 ">
                      <div class="card">
                        <div class="card-image">
                          <img src="{{item}}" >
                          <span class="card-title">Miss Nigri</span>
                        </div>
                        <div class="card-content">
                          <p>
                            #GamerGirl
                            #Cosplay
                            #Boobs
                          </p>
                        </div>
                        <div class="card-action">
                          <a href="{{item}}" target="_blank">Open in new tab</a>
                        </div>
                      </div>
                    </div>


            </ng-masonry-grid-item>

        </ng-masonry-grid>
</div>
