/*
                          --3--

*/

:host {
  /*global component style*/
  display: block;
  /*needed to let divs get up to 100vh*/
  overflow: auto;
  height: 100%;
  background-color: #ECEFF1;
  /* fall back colors*/
}

.grid {
    background: #EEE;
}


.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 300px;
    margin-bottom: 20px;
    float: right;
}

